*{
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  height: inherit !important;
}
body #root{
  height: 100% !important;
}
.cont{
  min-height: 100%;
  height: inherit !important;
}
.home{
  height: 100% !important;
  margin: auto;
}
::-moz-selection {
  color: #FF3300;
  background: #00CCFF;
}

::selection {
  color: #FF3300;
  background: #00CCFF;
}
.main-title {
  display: flex;
  flex-direction: column;
}
.main-title b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 60px;
  top: 30px;
  align-self: center;
}
.main-title .inner-text {
  display: inline-block;
  color: #00bfff;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;

  /*animation*/
  -webkit-animation: move 10s;
  -moz-animation: move 10s;
  -ms-animation: move 10s;
  -o-animation: move 10s;
  animation: move 10s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

@media screen and (max-width: 640px) {
  .main-title {
    display: flex;
    flex-direction: column;
  }
  .main-title b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 32px;
    top: 24px;
    align-self: center;
  }
  .main-title .inner-text {
    display: inline-block;
    color: #00bfff;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;

    /*animation*/
    -webkit-animation: move 10s;
    -moz-animation: move 10s;
    -ms-animation: move 10s;
    -o-animation: move 10s;
    animation: move 10s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*animation-delay*/
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
  }
}

@keyframes move {
  0% {
    top: -10px;
  }
  20% {
    top: -120px;
  }
  40% {
    top: -220px;
  }
  60% {
    top: -310px;
  }
  80% {
    top: -415px;
  }
  100% {
    top: -10px;
  }
}

@-webkit-keyframes move {
  0% {
    top: -10px;
  }
  20% {
    top: -120px;
  }
  40% {
    top: -220px;
  }
  60% {
    top: -310px;
  }
  80% {
    top: -415px;
  }
  100% {
    top: -10px;
  }
}
@-moz-keyframes move {
  0% {
    top: -10px;
  }
  20% {
    top: -120px;
  }
  40% {
    top: -220px;
  }
  60% {
    top: -310px;
  }
  80% {
    top: -415px;
  }
  100% {
    top: -10px;
  }
}
@-o-keyframes move {
  0% {
    top: -10px;
  }
  20% {
    top: -120px;
  }
  40% {
    top: -220px;
  }
  60% {
    top: -310px;
  }
  80% {
    top: -415px;
  }
  100% {
    top: -10px;
  }
}
@keyframes move {
  0% {
    top: -10px;
  }
  20% {
    top: -120px;
  }
  40% {
    top: -220px;
  }
  60% {
    top: -310px;
  }
  80% {
    top: -415px;
  }
  100% {
    top: -10px;
  }
}

@media screen and (max-width: 640px) {
  @keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -32px;
    }
    40% {
      top: -62px;
    }
    60% {
      top: -92px;
    }
    80% {
      top: -126px;
    }
  }

  @-webkit-keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -32px;
    }
    40% {
      top: -62px;
    }
    60% {
      top: -92px;
    }
    80% {
      top: -126px;
    }
  }
  @-moz-keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -32px;
    }
    40% {
      top: -62px;
    }
    60% {
      top: -92px;
    }
    80% {
      top: -126px;
    }
  }
  @-o-keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -32px;
    }
    40% {
      top: -62px;
    }
    60% {
      top: -92px;
    }
    80% {
      top: -126px;
    }
  }
  @keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -32px;
    }
    40% {
      top: -62px;
    }
    60% {
      top: -92px;
    }
    80% {
      top: -126px;
    }
  }
}

.work-position-light {
  //background: -webkit-linear-gradient(135deg, hsl(195, 100%, 78%), hsl(20, 100%, 70%));
  //background: -webkit-linear-gradient(135deg, #36BADA, #DA5636);
  background: -webkit-linear-gradient(135deg, #00CCFF, #FF3300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.work-position-hover:hover {
  //background: -webkit-linear-gradient(135deg, hsl(195, 100%, 78%), hsl(20, 100%, 70%));
  //background: -webkit-linear-gradient(135deg, #36BADA, #DA5636);
  background: -webkit-linear-gradient(135deg, #00CCFF, #FF3300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.back {
  //background: -webkit-linear-gradient(135deg, hsl(195, 100%, 78%), hsl(20, 100%, 70%));
  //background: -webkit-linear-gradient(135deg, #36BADA, #DA5636);
  background: -webkit-linear-gradient(135deg, rgba(0, 204, 255, 0.5), rgba(255, 51, 0, 0.5));
  background-blend-mode:multiply;
}
